@font-face {
    font-family: LivvicRegular;
    src: url('/assets/fonts/LivvicRegular.ttf');
}

@font-face {
    font-family: LivvicSemiBold;
    src: url('/assets/fonts/LivvicSemiBold.ttf');
}

@font-face {
    font-family: LivvicBold;
    src: url('/assets/fonts/LivvicBold.ttf');
}